<%- include('partials/header') %>

       <!--cart items details-->
       <div class="small-container">
           <table>
               <tr>
                   <th>Product</th>
                   <th>Quantity</th>
                   <th>Subtotal</th>
               </tr>
               <tr>
                   <td>
                       <div class="cart-info">
                           <img src="img/buy-1.jpg">
                           <div>
                               <p>Red Printed Tshirt</p>
                               <small id="price">price: $50.00</small>
                               <br>
                               <a href="">Remove</a>
                           </div>
                       </div>
                   </td>
                   <td><input type="number" id="count" value="1"></td>
                   <td>$50.00</td>
               </tr>
               <tr>
                <td>
                    <div class="cart-info">
                        <img src="img/buy-1.jpg">
                        <div>
                            <p>Red Printed Tshirt</p>
                            <small>price: $50.00</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="img/buy-1.jpg">
                        <div>
                            <p>Red Printed Tshirt</p>
                            <small>price: $50.00</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
           </table>
           <div class="total-price">
               <table>
                   <tr>
                       <td>Subtotal</td>
                       <td>$200.00</td>
                   </tr>
                   <tr>
                    <td>Tax</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$235.00</td>
                </tr>
               </table>
           </div>
       </div>

<%- include('partials/footer') %>


     <!------js for toggle menu------>
     <script>
         var MenuItems=document.getElementById("MenuItems");
         MenuItems.style.maxHeight="0px";
         function menutoggle(){
             if(MenuItems.style.maxHeight="0")
             {
                 MenuItems.style.maxHeight="200px";
             }
             else
             {
                 MenuItems.style.maxHeight="0px";
             }
         }
     </script>
     
    </body>
</html> 