<%- include('partials/header') %>

     <!------All Products------>
     <div class="small-container">
         <div class="row row-2">
             <h2 style="color: #ff523b;">All Products</h2>
             <select>
                 <option>Low to High</option>
                 <option>Popular</option>
                 <option>Rating</option>
             </select>
         </div>
         <div class="row">
            <div class="col-4">
                <a href="products.html"><img src="img/product-1.jpg"></a>
                <h4>Photo Frame</h4>
                <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
                </div>
                <p>Rs 320</p>
            </div>
            <div class="col-4">
               <img src="img/product-2.jpg">
               <h4>Gitar</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
               </div>
               <p>Rs 2500</p>
           </div>
           <div class="col-4">
               <img src="img/product-3.jpg">
               <h4>Cup candles</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
               </div>
               <p>Rs 300</p>
           </div>
           <div class="col-4">
               <img src="img/product-4.jpg">
               <h4>Lenovo HE05 Wireless Bluetooth 5.0 in-Ear Neckband</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
               </div>
               <p>Rs 1100</p>
           </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-5.jpg">
                <h4>Smart Watch</h4>
                <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
                </div>
                <p>Rs 1499</p>
            </div>
            <div class="col-4">
               <img src="img/product-6.jpg">
               <h4>Acer Predator Triton</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
               </div>
               <p>Rs 74,990</p>
           </div>
           <div class="col-4">
               <img src="img/product-7.jpg">
               <h4>Oneplus</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
               </div>
               <p>Rs 38,000</p>
           </div>
           <div class="col-4">
               <img src="img/product-8.jpg">
               <h4>Incense</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
               </div>
               <p>Rs 120</p>
           </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-9.jpg">
                <h4>Audio tools</h4>
                <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
                </div>
                <p>Rs 1700</p>
            </div>
            <div class="col-4">
               <img src="img/product-10.jpg">
               <h4>Mobile back case</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
               </div>
               <p>Rs 70</p>
           </div>
           <div class="col-4">
               <img src="img/product-11.jpg">
               <h4>Coffee cup</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
               </div>
               <p>Rs 168</p>
           </div>
           <div class="col-4">
               <img src="img/product-12.jpg">
               <h4>Mouth organ</h4>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
               </div>
               <p>Rs 899</p>
           </div>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
     </div>

<%- include('partials/footer') %>

     <!------js for toggle menu------>
     <script>
         var MenuItems=document.getElementById("MenuItems");
         MenuItems.style.maxHeight="0px";
         function menutoggle(){
             if(MenuItems.style.maxHeight="0")
             {
                 MenuItems.style.maxHeight="200px";
             }
             else
             {
                 MenuItems.style.maxHeight="0px";
             }
         }
     </script>
    </body>
</html> 